.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;


      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-image: url('/public/WarFon.jpg'); 
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;


      justify-content: center;
      align-items: center;
  }
  
  
  .login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 20px;
  }
  
  .login-form input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .login-form button {
    width: calc(100% - 20px);
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .message {
    margin-top: 10px;
    color: #ff0000;
  }
  .link {
    color: gray;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.link:hover {
    color: darkgray;
}
